#make-blue {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-width: 20px;
  border-style: inset;
  border-color: tomato;
}
#make-red { 
  font-family: Arial, Helvetica, sans-serif;
  border-width: 20px;
  border-style: groove;
  border-color: blue;
}
#make-yellow {
  font-family: 'Times New Roman', Times, serif;
  border-width: 20px;
  border-style: inherit;
  border-color: darkgoldenrod;
}
h1 {
  color: black;
}
body {
  background-color: rosybrown;
}
